/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ==========================================================================
/* ==Borders for Building===

.content-wrapper {
 border: 1px red solid;
}

.project-content-wrapper, .project-title{
  border: 1px blue solid;
}

.project-description, .services ul, .services li, .about .bio{
  border: 1px yellow solid;
}
== end of Borders for Building*/

/* ==General Styles== */
html{
  font-size: 16px;
  margin: 0;
}

body{
  font-size: 1em;
  font-family: 'Source Sans Pro', sans-serif;
  color: #333333;
}

a{
  text-decoration: none;
}

h1{
  color: #90CB98;
  font-size: 2.25em;
  font-family: 'Roboto Mono', monospace;
}

h2{
  font-size: 2em;
  color: #b42a4c;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  padding: 30px 0;
  margin: 0;
  width: 100%;
}

h3{
  font-size: 1.875em;
  color: #333333;
  margin: 0;
}

h4{
  font-size: 1.5em;
  color: #333333;
  margin: 5px 0 5px 0;
}

p{
  font-size: 1.175em;
  line-height: 1.185;
  font-weight: 300;
  color: #333333;
  padding: 0 10px;
  margin: 10px 0 10px 0;
}

img{
  max-width: 100%;
}

.content-wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.portfolio{
  background-color: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

/* ==Base Nav, Header & Footer Styles== */

nav{
  width: 100%;
}

nav ul{
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  margin: 0;
}

nav ul li{
  list-style-type: none;
  color: #b42a4c;
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
  padding-left: 20px;
}

nav ul li a{
  text-decoration: none;
  color: #333333
}

nav ul li:hover a{
  color: #b42a4c
}

footer {
  width: 100%;
  background-color: #90CB98;
}

header .content-wrapper{
  background-color:#b42a4c;
  background: url('../img/tulips-a-mug-hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  margin: 0 auto;
  min-height: 500px;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}



/* ==Mobile Styles== */

header h1{
  font-size: 2em;
  text-align: right;
  margin: 0 10px 0 0;
  line-height: 1.5em;
  width: 90%
}

header h2{
  text-align: right;
  font-size: 1em;
  padding: 0 10px 0 0;
  width: 90%;
}

.hero-area{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

h2, h3{
  padding: 10px 0 0 0;
}

.project-content-wrapper{
  width: 90%;
  padding: 20px 0;
}

.project-image{
  padding: 10px;
  border: 2px solid #333333;
}

.project-image:hover{
  border: 2px solid #b42a4c;
  opacity: .5;
}

.project-title{
  padding: 0 10px;
}

.about .headshot{
  display: flex;
  align-items: center;
}

.about .headshot img{
  max-width: 100%;
  padding: 10px 0;
}

.about .headshot{
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.intro{
  width: 100%;
}

.services{
  background-color: #fff;
}
.services-content-wrapper{
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.services p{
  width: 100%;
  padding: 10px 10px;
  margin: 0;
  text-align: center;
}

 .services img{
  width: 30%;
  padding: 30px 0 0 0;
}

.contact{
  background-color: #e8e8e8;
}

.contact .social-icons{
  display: flex;
  flex-direction: row;
  text-align: center;
}

.contact h3{
  width: 100%;
  text-align: center;
}

.contact .social-icons img{
  width: 35%;
  padding: 20px 0;
}

footer .copyright p{
  font-size: .75em;
}

footer .content-wrapper{
  padding: 5px 0;
  justify-content: center;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px){
/* ====== Tablet Styles ======= */

.content-wrapper {
  max-width: 640px;
  padding: 30px 0;
}

nav ul li{
  font-size: 1.55em;
  padding-left: 30px;
}

header .content-wrapper{
  min-height: 500px;
  max-width: none;
}

header h1{
  font-size: 2.5em;
  margin-right: 20px;
}

header h2{
  font-size: 1.5em;
  line-height: 1em;
}

.project-content-wrapper, .project-image, .project-text, .project-title, .project-description{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.project-image{
  max-width: 45%;
  align-items: center;
}
.project-text{
  width: 50%;
}

.about .headshot img{
  max-width: 47%;
  padding-right: 20px;
}

.about .headshot{
  justify-content: space-between;
  flex-wrap: nowrap;

}

.intro{
  width: 47%;
}

.services img{
  width: 25%;
}

.services .content-wrapper{
  justify-content: space-around;
  align-items: flex-start;
}
.services-content-wrapper{
  width: 45%;
}

.services p{
  padding: 15px 10px;
}

.contact .social-icons img{
  width: 25%;
}

}

@media only screen and (min-width: 1024px) {
/* ====== Desktop Styles ======= */

.content-wrapper{
  max-width: 900px;
}

header .content-wrapper{
  min-height: 900px;
}

nav{
  padding-right: 20px;
}

header h1{
  font-size: 4em;
  margin-right: 50px;
}

.hero-area h2{
  margin-right: 30px;
  font-size: 2em;
  line-height: 0%;
}

h2{
  font-size: 2.5em;
}

h3{
  font-size: 2.185em;
}

h4{
  font-size: 1.75em;
}

p{
  font-size: 1.375em;
}
.project-content-wrapper{
  align-items: center;
  justify-content: space-between;
}

.project-title, .project-description{
  width: 100%;
  }

.project-text{
  width: 45%;
  margin-left: 10px;
}

.project-image{
  width: 45%;
}

.about .content-wrapper{
  justify-content: space-between;
}

.about .headshot{
  width: 100%;
  padding-right: 30px;
}

.about .headshot img{
  max-width: 40%;

.about .bio{
  width: 100%;
}

.services-content-wrapper{
  width: 32%;
}

.services img{
  width: 30%;
  padding: 30px 0 0 0;
}

.services p{
  padding: 20px;
}

.contact p{
  width: 100%;
  text-align: center;
}

.contact .social-icons img{
  width: 30%;
  padding-top: 30px;
}

}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
